// Variables
$hotpink: #ff0c3e;
$hotblack: #000000;
$articlefonts: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
$hotfont: knewave;

$breakpoint-small-width: max-width 400px;
$breakpoint-medium-width: max-width 760px;
$breakpoint-large-width: max-width 1111px;
